a.result {
    display: block;
    margin-bottom: 20px;
    color: #000;
    text-decoration: none;
}
a:hover {
    background: #ccc;
}

.main {
    margin-bottom: 100px;
}

.video_info {
    padding-top: 20px;
}

.loading {
    display: none;
}

.show-loading{
    display: block !important;
    margin: 0 auto;
}

.no-data {
    color: red;
    text-align: center;
}

#page-token {
    display: none;
}